# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [2]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [3]:
x = pd.Series([5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]) 
print(x)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [4]:

third_value = res.iloc[2]
print(third_value )

NameError: name 'res' is not defined

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [ ]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [ ]:
df = pd.DataFrame(b)
df.columns = ["1", "2", "3", "4", "5"] 
print(df)

### 5. Rename the data frame columns based on the names in the list below.

In [ ]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [ ]:
# تحويل القائمة إلى DataFrame
df = pd.DataFrame(b, columns=["Score_1", "Score_2", "Score_3", "Score_4", "Score_5"])
print(df)

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [ ]:
subset_df = df[["Score_1", "Score_2", "Score_3"]]
print(subset_df)

### 7. From the original data frame, calculate the average Score_3 value.

In [ ]:
average_score_3 = df["Score_3"].mean()
print("Average Score_3:", average_score_3)

### 8. From the original data frame, calculate the maximum Score_4 value.

In [ ]:
max_score_4 = df["Score_4"].max()
print("Maximum Score_4:", max_score_4)

### 9. From the original data frame, calculate the median Score 2 value.

In [ ]:
median_score_2 = df['Score 2'].median()
print("median_score_2")

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [ ]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [ ]:
import pandas as pd

orders = {
    'Description': ['LUNCH BAG APPLE DESIGN', 'SET OF 60 VINTAGE LEAF CAKE CASES', 'RIBBON REEL STRIPES DESIGN', 'WORLD WAR 2 GLIDERS ASSTD DESIGNS', 'PLAYING CARDS JUBILEE UNION JACK', 'POPCORN HOLDER', 'PARTY BUNTING', 'JAZZ HEARTS ADDRESS BOOK', 'SET OF 4 SANTA PLACE SETTINGS'],
    'Quantity': [1, 24, 1, 2880, 2, 7, 4, 10, 48],
    'UnitPrice': [1.65, 0.55, 1.65, 0.85, 11.95, 4.95, 0.19, 1.9, 1.25],
    'Revenue': [1.65, 13.2, 1.65, 518.4, 23.9, 34.65, 0.76, 19.0, 60.0]
}

df_orders = pd.DataFrame(orders)

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [ ]:
total_quantity = df_orders['Quantity'].sum()
total_revenue = df_orders['Revenue'].sum()
print("Total Quantity Ordered:",total_quantity)
print("Total Revenue Generated:",total_revenue)

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

## Let's load another dataset for more exercisesº

In [ ]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [ ]:
print(admissions.head())

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [ ]:
missing_data = admissions.isnull().sum()
print(missing_data)

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [ ]:
# تعيين عمود serial number كـ index دون حذفه
admissions.set_index('Serial No.', inplace=True, drop=False)

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [ ]:
# حساب عدد الصفوف حيث الـ CGPA أكبر من 9 والطالب أجرى تحقيقًا
filtered_rows = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)]
num_rows = filtered_rows.shape[0]
print("Number of rows:", num_rows)

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [ ]:
filtered_rows_2 = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]
mean_chance = filtered_rows_2['Chance of Admit'].mean()  # تأكدي من أن الاسم صحيح هنا