# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [ ]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [ ]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [ ]:
# إنشاء سلسلة Pandas
series = pd.Series(lst)
print(series)

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [ ]:
# your code here
series[2]

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [ ]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [ ]:
# your code here
df = pd.DataFrame(b)
df

### 5. Rename the data frame columns based on the names in the list below.

In [ ]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [ ]:
# your code here
import pandas as pd

# Convert list of lists into a DataFrame
b = pd.DataFrame(b)

# Define new column names
column_names = ["Col1", "Col2", "Col3", "Col4", "Col5"]  # Replace with actual names

# Assign new column names
b.columns = column_names

# Display DataFrame
print(b.head())  # Check if columns are renamed correctly
b

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [ ]:
# your code here
subset_df = df.iloc[:, [0, 2, 4]]  
print(subset_df)

### 7. From the original data frame, calculate the average Score_3 value.

In [ ]:
# your code here
Score_3 = b[2].mean()
Score_3

### 8. From the original data frame, calculate the maximum Score_4 value.

In [ ]:
Score_4 = b[3].max()
Score_4

### 9. From the original data frame, calculate the median Score 2 value.

In [ ]:
# your code here
Score_2 = b[1].median()
Score_2

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [ ]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [ ]:
# your code here
my_series = pd.DataFrame(orders)
my_series

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [ ]:
# your code here
tot_quantity= my_series['Quantity'].sum()
print("the total quantity is: ",tot_quantity)
tot_revenue= my_series['Revenue'].sum()
print("the total revenue is: ",tot_revenue)

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [ ]:
# your code here
the_maxPrice= my_series['UnitPrice'].max()
the_maxPrice
the_MinPrice= my_series['UnitPrice'].min()
the_MinPrice
diff=the_maxPrice - the_MinPrice
print("the is difference is: " ,diff)

## Let's load another dataset for more exercisesº

In [ ]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [ ]:
# your code here
admissions.head()

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [ ]:
# your code here
admissions.info()

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [ ]:
# your code here
admissions = admissions.reset_index(drop=True)
admissions

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [ ]:
# your code here
count = admissions[(admissions["CGPA"] > 9) & (admissions["Research"] == 1)].shape[0]
print(count)

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [ ]:
# your code here
mean_chance = admissions[(admissions["CGPA"] > 9) & (admissions["SOP"] < 3.5)][admissions.columns[-1]].mean()
print(mean_chance)